@font-face{
    font-family: 'Raleway';
    src: url(fonts/Raleway/Raleway.eot?#iefix) format('embedded-opentype'),
         url(fonts/Raleway/Raleway.woff) format('woff'),
         url(fonts/Raleway/Raleway.ttf) format('truetype'),
         url(fonts/Raleway/Raleway.svg#Raleway) format('svg');
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans.eot?#iefix) format('embedded-opentype'),
         url(fonts/OpenSans/OpenSans.woff) format('woff'),
         url(fonts/OpenSans/OpenSans.ttf) format('truetype'),
         url(fonts/OpenSans/OpenSans.svg#OpenSans) format('svg');
    font-weight: normal;
    font-style: normal;    
}
@media only screen and (max-height: 1080px){
    .cart-content {
        height: calc(100% - 100px - 30px - 80px - 114px);
        width: 100%;
        overflow: auto;
    }
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after{
    box-sizing: initial;
}
html {
    height: 100%;
    line-height: initial;
}
body {
    height: 100%;
    background: #FFFFFF;
    color: #2F2F2F;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
h1 {
    line-height: normal;
    margin: 0;
}
*::selection {
    background: #89C0C9;
    color: #ffffff;
}
*::-moz-selection {
    background: #59A7B3;
    color: #ffffff;
}
#bgMask {
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000000;
    z-index: 12;
}
#sideMenu {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    background: #EDEFF0;
    z-index: 15;
}
.menuHeader {
    display: inline-block;
    background: #2F2F2F;
    width: 100%;
    height: 100px;
    line-height: 104px;
    vertical-align: middle;
    text-align: center;
    /*padding: 20px 0 0;*/
}
#closeBtn {
    display: none;
    transform: rotate(0deg);
    width: 17px;
    height: 17px;
    float: left;
    margin-left: 20px;
    margin-top: 31px;
    cursor: pointer;
    padding: 10px;
    background: url('images/arrowLeft.png') no-repeat center;
}
.menuTitle {
    display: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    color: #EDEFF0;
    font-size: 23px;
    font-weight: lighter;
    line-height: 28px;
    margin-right: 57px;
    text-align: center;
}
.empty-cart-message {
    display: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    color: #2F2F2F;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}
.cart-content {
    color: #2F2F2F;
}
.amount {
    display: none;
    font: normal normal normal 15px/20px raleway,sans-serif;
    color: #2F2F2F;
    font-size: 26px;
    height: 60px;
    overflow: hidden;
    text-align: left;
    padding: 20px 34px 0;
}
.widget-total-amount {
    float: right;
}
.menuFooter {
    display: none;
    border-top-color: #D6D6D6;
    border-top-width: 1px;
    border-top-style: solid;
    height: 114px;
    padding: 34px 34px 0;
    text-align: center;
}
.button-to-cart {
    display: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background: #758996;
    color: #EDEFF0;
    text-decoration: none;
    border: 0;
    position: relative;
    cursor: pointer;
    width: 242px;
    padding: 10px 20px;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.button-to-cart:hover {
    opacity: .82;
}
.button-to-cart:active {
    opacity: 1;
}
header {
    top: 0;
    position: fixed;
    min-width: 980px;
    width: 100%;
    height: 98px;
    background-color: #FFFFFF;
    z-index: 10;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu {
    width: 980px;
    height: 98px;
}
#indoor {
    display: inline-block;
    margin-left: 40px;
    line-height: 98px;
    vertical-align: middle;
    float: left;
}
#indoorlink {
    display: inline-block;
    width: 95px;
    font: normal normal bold 17px/1.4em tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
    color: #445F64;
    text-align: left;
}
.line {
    position: absolute;
    top: 64px;
    height: 5px;
    width: 91px;
    margin-left: 38px;
    border-bottom: 3px solid rgba(68, 95, 100, 1);
    height: 0 !important;
    min-height: 0 !important;
}
.submenu {
    display: inline-block;
    width: 789px;
    height: 98px;
    line-height: 98px;
    float: left;
    vertical-align: middle;
}
.button {
    display: inline-block; 
    width: 263px;
    line-height: 98px;
    vertical-align: middle;
    float: left;
}
.buttonlink {
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    color: #668F96;
    line-height: 37px;
    text-align: center;
    transition: color 0.4s ease 0s;
    display: inline-block;
    padding: 0 10px;
}
#disabled:hover {
    color: #445F64;
    transition: color 0.4s ease 0s;
}
#disabled {
    color: #9C9C9C;
}
#cartbtn {
}
.cartIcon {
    fill: #758996;
    margin-top:31px;
    float: left;
}
#label {
    display: inline-block;
    position: absolute;
    font: normal normal normal 20px "Open Sans",Arial;
    margin-left: -33px;
    margin-top: 42px;
}
main {
    min-width: 980px;
    width: 100%;
    margin-top: 98px;
    background-color: #EDEFF0;
}
.content {
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    height: 719px;
    width: 920px;
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: #EDEFF0;
}
.title {
    float: left;
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    margin-left: 0.5px;
    color: #2F2F2F;
}
#checkout {
    cursor: pointer;
    border: 0;
    text-align: center;
    min-width: 283px;
    max-width: 530px;
    height: 41px;
    float: right;
    background: #758996;
    color: #EDEFF0;
    outline: 0;
}
.disabled#checkout {
    cursor: default !important;
    background: #DDDDDD !important;
}
.checkoutText {
    display: inline-block;
    background: transparent;
    color: #EDEFF0;
    outline: 0;
    font-size: 15px;
    margin-top: -2px;
}
.title2 {
    display: none; /*display: block;*/
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    text-align: left;
}
.products-header-title {
    color: #5E5E5E;
    margin-bottom: 10px;
    font-size: 12px;
}
.product-media-container {
    width: 150px;
    float: left;
    margin-right: 1.69492%;
    margin-top: 0;
    box-sizing: border-box;
    position: relative;
}
.product-info {
    margin-left: 1.69492%;
    margin-bottom: 10px;
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
}
.product-quantity {
    padding-left: 12.5px;
    width: 6.77966%;
    float: left;
    margin-right: 1.69492%;
}
.product-total {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    text-align: right;
}
.products-empty {
    border-top-color: #D6D6D6;
    border-bottom-color: #D6D6D6;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 20px;
    text-align: center;
}
.summary {
    height: 68px;
    margin-top: 0;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-color: #D6D6D6;
    border-bottom-color: #D6D6D6;
    text-align: right;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.summary-subtotal {
    float: right;
    clear: right;
    width: 49%;
}
.total-price {
    font-size: 20px;
}
.checkout-comment {
    margin-top: 5px;
    font-style: italic;
}
section.footer {
    margin-bottom: 0;
    margin-top: 0;
}
.summary-illustrations {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
}
.summary-illustration-item:first-child {
    margin-right: 10px;
}
.summary-illustration-item {
    display: inline-block;
    vertical-align: middle;
}
footer {
    position: absolute;
    margin-bottom: 0px;
    background: #668F96;
    min-width: 980px;
    width: 100%;
    height: 200px;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.foot {
    max-width: 980px;
    height: 150px;
    margin-left: 28px;
}
.copyright {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
}
.copyright p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-family: raleway, sans-serif;
    color: rgba(214,214,214,1);
}
.socialNetworks {
    margin-top: 52px;
    display: inline-block;
    width: 102px;
    height: 22px;
    white-space: nowrap;
}
.facebook {
    margin-right: 18px;
    width: 22px;
    height: 22px;
    float: left;
}
.twitter {    
    margin-right: 18px;
    width: 22px;
    height: 22px;
    float: left;
}
.pinterest {   
    width: 22px;
    height: 22px;
    float: left;
}
.bottomline {
    position: absolute;
    width: 100%;
    min-width: 980px;
    height: 50px;
    background-color: #5E5E5E;
    bottom: 0px;
}
.language-switch {
    display: inline-block;
    position: absolute;
    margin-top: 13px;
    margin-left: -28px;
}
.language-switch a {
    font-family: sans-serif;
    font-size: .6875em;
    background-color: #4d4d4d;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 2em;
    padding-left: 9px;
    cursor: pointer;
}
.language-switch a:after {
    content: " ";
    display: block;
    float: right;
    margin-left: 9px;
    background: url('images/HeaderFooterSprite.png?v=635745069335278416') #445F64 no-repeat scroll -718px -3px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.toggle-section {
    display: none;
    margin-left: -28px;
    margin-top: -13px;
    position: absolute;
    background: #EDEFF0;
    border: #4d4d4d 1px solid;
    width: 60px;
    overflow: hidden;
}
.toggle-section a {
    all: initial;
    font-family: sans-serif;
    font-size: .6875em;
    display: inline-block;
    text-align: left;
    color: #222;
    line-height: 24px;
    width: 58px;
    padding-left: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggle-section a:after {
    all: initial;
}
.toggle-section a:hover {
    background: rgba(0, 0, 0, 0.075);
}