@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Raleway/Raleway.woff) format('woff'),
         url(../fonts/Raleway/Raleway.ttf) format('truetype'),
         url(../fonts/Raleway/Raleway.svg#Raleway) format('svg');
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix) format('embedded-opentype'),
         url(../fonts/HelveticaNeue/HelveticaNeue.otf) format('opentype'),
         url(../fonts/HelveticaNeue/HelveticaNeue.woff) format('woff'),
         url(../fonts/HelveticaNeue/HelveticaNeue.ttf) format('truetype'),
         url(../fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue) format('svg');
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: 'HelveticaNeueCyr-Medium';
    src: url(../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.otf) format('opentype'),
         url(../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff) format('woff'),
         url(../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf) format('truetype'),
         url(../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium) format('svg');
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans/OpenSans.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans/OpenSans.woff) format('woff'),
         url(../fonts/OpenSans/OpenSans.ttf) format('truetype'),
         url(../fonts/OpenSans/OpenSans.svg#OpenSans) format('svg');
    font-weight: normal;
    font-style: normal;
}
@media only screen and (max-height: 1080px){
    .cart-content {
        height: calc(100% - 100px - 30px - 80px - 114px);
        width: 100%;
        overflow: auto;
    }
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after{
    box-sizing: initial;
}
html {
    height: 100%;
    line-height: initial;
}
body {
    height: 100%;
    background: #FFFFFF;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
h1 {
    line-height: normal;
    margin: 0;
}
*::selection {
    background: #89C0C9;
    color: #ffffff;
}
*::-moz-selection {
    background: #59A7B3;
    color: #ffffff;
}
input::-webkit-input-placeholder {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
input::-moz-placeholder          {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
input:-moz-placeholder           {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
input:-ms-input-placeholder      {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
textarea::-webkit-input-placeholder {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
textarea::-moz-placeholder          {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
textarea:-moz-placeholder           {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
textarea:-ms-input-placeholder      {color:#668F96; opacity: 1; font: normal normal normal 15px/1.4em raleway,sans-serif;}
#bgMask {
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000000;
    z-index: 12;
}
#sideMenu {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    background: #EDEFF0;
    z-index: 15;
}
.menuHeader {
    display: inline-block;
    background: #2F2F2F;
    width: 100%;
    height: 100px;
    line-height: 104px;
    vertical-align: middle;
    text-align: center;
    /*padding: 20px 0 0;*/
}
#closeBtn {
    display: none;
    transform: rotate(0deg);
    width: 17px;
    height: 17px;
    float: left;
    margin-left: 20px;
    margin-top: 31px;
    cursor: pointer;
    padding: 10px;
    background: url('../images/arrowLeft.png') no-repeat center;
}
.menuTitle {
    display: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    color: #EDEFF0;
    font-size: 23px;
    font-weight: lighter;
    line-height: 28px;
    margin-right: 57px;
    text-align: center;
}
.empty-cart-message {
    display: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    color: #2F2F2F;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}
.cart-content {
    color: #2F2F2F;
}
.amount {
    display: none;
    font: normal normal normal 15px/20px raleway,sans-serif;
    color: #2F2F2F;
    font-size: 26px;
    height: 60px;
    overflow: hidden;
    text-align: left;
    padding: 20px 34px 0;
}
.widget-total-amount {
    float: right;
}
.menuFooter {
    display: none;
    border-top-color: #D6D6D6;
    border-top-width: 1px;
    border-top-style: solid;
    height: 114px;
    padding: 34px 34px 0;
    text-align: center;
}
.button-to-cart {
    display: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background: #758996;
    color: #EDEFF0;
    text-decoration: none;
    border: 0;
    position: relative;
    cursor: pointer;
    width: 242px;
    padding: 10px 20px;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.button-to-cart:hover {
    opacity: .82;
}
header {
    top: 0;
    position: fixed;
    min-width: 980px;
    width: 100%;
    height: 98px;
    background-color: #FFFFFF;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu {
    width: 980px;
    height: 98px;
}
#indoor {
    display: inline-block;
    margin-left: 40px;
    line-height: 98px;
    vertical-align: middle;
    float: left;
}
#indoorlink {
    display: inline-block;
    width: 95px;
    font: normal normal bold 17px/1.4em tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
    color: #445F64;
    text-align: left;
}
.line {
    position: absolute;
    top: 64px;
    height: 5px;
    width: 91px;
    margin-left: 38px;
    border-bottom: 3px solid rgba(68, 95, 100, 1);
    height: 0 !important;
    min-height: 0 !important;
}
.submenu {
    display: inline-block;
    width: 789px;
    height: 98px;
    line-height: 98px;
    float: left;
    vertical-align: middle;
}
.button {
    display: inline-block; 
    width: 263px;
    line-height: 98px;
    vertical-align: middle;
    float: left;
}
.buttonlink {
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    color: #668F96;
    line-height: 37px;
    text-align: center;
    transition: color 0.4s ease 0s;
    display: inline-block;
    padding: 0 10px;
}
#disabled:hover {
    color: #445F64;
    transition: color 0.4s ease 0s;
}
#disabled {
    color: #9C9C9C;
}
#cartbtn {
}
.cartIcon {
    fill: #758996;
    margin-top:31px;
    float: left;
}
#label {
    display: inline-block;
    position: absolute;
    font: normal normal normal 20px "Open Sans",Arial;
    margin-left: -33px;
    margin-top: 42px;
}
main {
    min-width: 980px;
    width: 100%;
    margin-top: 98px;
    background-color: #EDEFF0;
}
.content {
    height: 700px;
    width: 980px;
    padding-bottom: 40px;
    padding-top: 44px;
    background-color: #EDEFF0;
}
.textbox {
    display: inline-block;
    margin-top: 40px;
    width: 387px;
    margin-left: 39px;
    text-align: left;
}
.font_2 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal bold 40px raleway,sans-serif;
    color: #445F64;
}
.font_8 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal normal 15px raleway,sans-serif;
    color: #2F2F2F;
}
.contactForm {
    display: inline-block;
    float: right;
    width: 449px;
    height: 279px;
    margin-top: 134px;
    margin-right: 40px;
}
.nameField {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    padding: 5px;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background-color: rgba(237, 239, 240, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(68, 95, 100, 1);
    color: #445F64;
    margin: 0 0 5px;
    height: 33px;
    width: 449px;
    outline: 0;
}
.emailField {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    padding: 5px;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background-color: rgba(237, 239, 240, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(68, 95, 100, 1);
    color: #445F64;
    margin: 0 0 5px;
    height: 33px;
    width: 449px;
    outline: 0;
}
.phoneField {
    display: none;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    padding: 5px;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background-color: rgba(237, 239, 240, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(68, 95, 100, 1);
    color: #445F64;
    margin: 0 0 5px;
    height: 33px;
    width: 449px;
    outline: 0;
}
.addressField {
    display: none;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    padding: 5px;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background-color: rgba(237, 239, 240, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(68, 95, 100, 1);
    color: #445F64;
    margin: 0 0 5px;
    height: 33px;
    width: 449px;
    outline: 0;
}
.subjectField {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    padding: 5px;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background-color: rgba(237, 239, 240, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(68, 95, 100, 1);
    color: #445F64;
    margin: 0 0 5px;
    height: 33px;
    width: 449px;
    outline: 0;
}
.textField {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    resize: none;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    background-color: rgba(237, 239, 240, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(68, 95, 100, 1);
    color: #445F64;
    margin: 0 0 5px;
    width: 449px;
    height: 130px;
    border-radius: 0;
    padding: 5px;
    outline: 0;
}
.submitButton {
    display: inline-block;
    float: right;
    background-color: rgba(68, 95, 100, 1);
    font: normal normal normal 13px/1.4em raleway,sans-serif;
    border: 0;
    color: #EDEFF0;
    cursor: pointer;
    margin-top: 2px;
    max-width: 35%;
    border-radius: 0;
    padding: 5px;
    outline: 0;
}
.submitButton:disabled {
    background-color: #9C9C9C !important;
    cursor: default !important;
}
.submitButton:active {
    background-color: #668F96;
    cursor: pointer;
    margin-top: 4px;
    transition: margin, 0.3s, ease;
}
.submitButton:hover {
    background-color: #668F96;
    cursor: pointer;
    transition: background, 0.15s, ease;
}
.successNotification {
    display: none;
    float: left;
    color: #BADA55;
    font-family: 'HelveticaNeue','HelveticaNeueCyr-Medium', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    max-width: 60%;
}
.errorNotification {
    display: none;
    float: left;
    color: #8B0000;
    font-family: 'HelveticaNeue','HelveticaNeueCyr-Medium', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    max-width: 60%;
}
input::selection, textarea::selection {
    color: #FFFFFF;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #FFFFFF !important; /* Цвет фона */
    -webkit-text-fill-color: #445F64 !important; /* цвет текста */
    color: #FFFFFF !important; /* цвет текста */
}
footer {
    position: absolute;
    margin-bottom: 0px;
    background: #668F96;
    min-width: 980px;
    width: 100%;
    height: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.foot {
    max-width: 980px;
    height: 150px;
    margin-left: 28px;
}
.copyright {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
}
.copyright p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-family: raleway, sans-serif;
    color: rgba(214,214,214,1);
}
.socialNetworks {
    margin-top: 52px;
    display: inline-block;
    width: 102px;
    height: 22px;
    white-space: nowrap;
}
.facebook {
    margin-right: 18px;
    width: 22px;
    height: 22px;
    float: left;
}
.twitter {    
    margin-right: 18px;
    width: 22px;
    height: 22px;
    float: left;
}
.pinterest {   
    width: 22px;
    height: 22px;
    float: left;
}
.bottomline {
    position: absolute;
    width: 100%;
    min-width: 980px;
    height: 50px;
    background-color: #5E5E5E;
    bottom: 0px;
}
.language-switch {
    display: inline-block;
    position: absolute;
    margin-top: 13px;
    margin-left: -28px;
}
.language-switch a {
    font-family: sans-serif;
    font-size: .6875em;
    background-color: #4d4d4d;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 2em;
    padding-left: 9px;
    cursor: pointer;
}
.language-switch a:after {
    content: " ";
    display: block;
    float: right;
    margin-left: 9px;
    background: url('../images/HeaderFooterSprite.png?v=635745069335278416') #445F64 no-repeat scroll -718px -3px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.toggle-section {
    display: none;
    margin-left: -28px;
    margin-top: -13px;
    position: absolute;
    background: #EDEFF0;
    border: #4d4d4d 1px solid;
    width: 60px;
    overflow: hidden;
}
.toggle-section a {
    all: initial;
    display: inline-block;
    font-family: sans-serif;
    color: #222;
    text-align: left;
    font-size: .6875em;
    line-height: 24px;
    width: 58px;
    padding-left: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggle-section a:after {
    all: initial;
}
.toggle-section a:hover {
    background: rgba(0, 0, 0, 0.075);
}